.searchBox {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
}

.searchBox label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.searchBox input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.searchBox input:hover {
  border-color: #5787BD;
}

.searchBox input:focus {
  border-color: #5787BD;
  box-shadow: 0 0 5px rgba(87, 135, 189, 0.5);
}

.searchHeader {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}